
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
<!-- banner section -->

<div class="banner" id="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dvf1ekp5b/image/upload/v1596720093/uniqsurface-xvjpZDHoEAo-unsplash_qa3vmy.jpg');">
  <div class="container">
    <h1>Always wanted to try a new sport?</h1> <br>
    <%# <p>Rent sport eqipment for short period from privates  and have fun without spending a fortune!</p> %>

    <!-- <%= link_to "Explore", items_path, class: "btn-primary" %> -->


    <%= form_tag items_path, method: :get do %>
      <div class="form-row">
        <div class="col">
          <%= text_field_tag :sport_type,
            params[:sport_type],
            class: "form-control",
            placeholder: "Find a gear"
          %>
        </div>
        <div class="col">
          <%= date_field_tag :start_date,
            params[:start_date],
            min: Date.today,
            value: Date.today,
            class: "form-control",
            id: "home_start_date",
            placeholder: "From"
          %>
        </div>
        <div class="col">
          <%= date_field_tag :end_date,
            params[:end_date],
            min: Date.today,
            value: Date.today,
            class: "form-control",
            id: "home_finish_date",
            placeholder: "To"
          %>
        </div>
        <div class="col-3">
          <%= text_field_tag :location,
            params[:location],
            class: "form-control",
            id: "location-search-home",
            placeholder: "Where?"
          %>
        </div>
        <div class="col">
          <%= submit_tag "Go!", class: "btn-secondary" %>
        </div>
      </div>
    <% end %>

  </div>


</div>



<!-- section for big pictures with explanation of the platform -->
<div class="container">
  <div class="container">
    <h2 class="text-center" id="titles" >How does it work</h2>
  </div>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dvf1ekp5b/image/upload/v1596725468/pexels-asad-photo-maldives-3426891_obyjjo.jpg');">
    <div id= "renter" class="container">
      <h1>Rent from other people without hassle.</h1> <br>
      <p>Talk with the owner and organize the pick up</p>

      <div id="btn-explore" >
        <%= link_to "Explore", items_path, class: "btn-primary" %>
      </div>
  </div>
  </div>
  <br>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dvf1ekp5b/image/upload/v1596725465/markus-winkler-EKdM6EZ6HDY-unsplash_ryzgt2.jpg');">
    <div id="owner" class="container">
      <h1>Don't let your stuff getting dusty in the garage</h1> <br>
      <p>Most of your equipment is not used for 80 % of the time. Rent it and earn some money.</p>

      <div id="btn-explore" >
        <%= link_to "Explore", items_path, class: "btn-primary" %>
      </div>
  </div>
  </div>

  <h3 class="text-center" id="titles" >Latest gears</h3>


  <!-- cards section  -->
  <div class="container">
    <div class="cards">
      <% @items.first(3).each do |item| %>
      <div class="card">
        <%= cl_image_tag item.photos.first.key if item.photos.first %>
        <h4><%= item.name %></h4>
        <p><%= link_to "Rent for $#{item.price_per_day} a day", item_path(item) %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row justify-content-md-center">
    <div class="col-md-4 text-center">
      <%= link_to "Explore More", items_path, class: "btn-primary" %>
    </div>
  </div>
</div>
