<h1 style="text-align:center">My Bookings</h1>

<% if policy(@bookings).index? %>
<div class="main-container" id="index-bookings">
  <div class="container" id="cards-container">
    <div class="cards">
    <% @bookings.each do |booking|%>
     <div class="card">
      <%= cl_image_tag booking.item.photos.first.key if booking.item.photos.first %>
      <h4><%= booking.item.name %></h4>
      <br><p><strong>from: </strong><%=  booking.start_date.to_formatted_s(:long)   %><br><strong>to: </strong> <%= booking.finish_date.to_formatted_s(:long)   %><p>
       <p>
          
          <%= link_to "🗑", booking_path(booking.id),data: { confirm: 'Are you sure?'}, method: :delete, class: "btn-primary"%>
       </p>
      </div>
    <% end %>
  </div>
</div>
</div>
<% end %>






