<div class="banner" id="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/1600x900/?sport,extreme');">
  <h1>Your search results:</h1>

</div>

<div class="main-container" id="index-items">
  <div class="container-fluid" id="cards-container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7">
        <div class="cards d-flex flex-wrap">
        <% @items.each do |item| %>
          <div class="card">
            <%= cl_image_tag item.photos.first.key if item.photos.first %>
            <h4><%= item.name %></h4>
            <p><%= link_to "Rent for $#{item.price_per_day} a day", item_path(item) %></p>
          </div>
        <% end %>
        </div>
    </div>

      <div id="map"
          class="col-12 col-lg-5"
         style="width: 50%; height: 100vh;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
</div>
</div>
</div>
