<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @item.photos.first.key if @item.photos.first %>);">
  <div class="container">
    <h1><%= @item.name %></h1>
    <h4><%= @item.category %></h4>
  </div>
</div>


<div class="container my-5" id="showpage">

  <div class="row" id="item-details">
    <div class="col-md-6" id="item-deep-details">
      <h3>Details</h3>
      <h4><%= @item.description %> <br><%= @item.location %></h4>
      <h5>Offered by <%= @item.user.email %></h5> <br>
      <%= link_to "Back to list", items_path, class: "btn-primary" %>
      <% if policy(@item).update? %>
        <%= link_to "Edit", edit_item_path, class: "btn-primary" %>
        <%= link_to "Delete Item", item_path(@item),data: { confirm: 'Are you sure?'}, method: :delete, class: "btn-primary"%>
      <% end %>
    </div>

    <div class="form col-md-6" id="dates-form">
      <h3>Rent Me!</h3>
      <p>Only for $<%= @item.price_per_day %> per day</p>

<<<<<<< HEAD
      <%= form_for ([@item, @booking]) do |f| %>
        <%= f.date_field :start_date, min: Date.today %>
        <%= f.date_field :finish_date, min: Date.today %>
=======
      <%= simple_form_for([@item, @booking]) do |f| %>
        <%= f.input :start_date, as: :string, input_html: {class: "datepicker" } %>
        <%= f.input :finish_date, as: :string, input_html: {class: "datepicker" } %>
>>>>>>> a6456468db78f4b58016de7dbb4e23988138a2b4
        <%= f.submit "Book", class: "btn btn-primary" %>
      <% end %>

      
    </div>
  </div>

</div>
